<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSW5wYNaG1pp88OXm2yDrYjIZNsEuZ2U0</string>
	<key>GCM_SENDER_ID</key>
	<string>650017325533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weDo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>we-do-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>we-do-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650017325533:ios:1c7e3a87394afe406c7634</string>
</dict>
</plist>